
@model BlogApp.Models.EditEntryViewModel
<h2>EditEntry</h2>
@using(@Html.BeginForm("EditEntry", "Entry", FormMethod.Post))
{
    <div><b>Title</b></div>
    <p>@Html.EditorFor(x => x.Title)</p>
    <div><b>Entry</b></div>
    <p>@Html.TextAreaFor(x => x.Passage)</p>
    <div>Last Modified: @Model.DateModified</div>
    @Html.ValidationMessageFor(x => x.Passage)

    <p><button type="submit">Submit</button></p>
}

<p>@Html.ActionLink("return to blog", "Index", "Home")</p>
