
@model BlogApp.Models.EditEntryViewModel
<h2>EditEntry</h2>
@using(@Html.BeginForm("EditEntry", "Entry", FormMethod.Post))
{
    <h5>blog entry</h5>
    
    <div></div>
    @Html.EditorFor(x => x.Title)
    @Html.TextAreaFor(x => x.Passage)
    <div>Last Modified: @Model.DateModified</div>
    @Html.ValidationMessageFor(x => x.Passage)

    <button type="submit">Submit</button>
}

@Html.ActionLink("return to blog", "Home", "Home")
