
@model BlogApp.Models.Comment.CommentViewModel

    <div><b>Date: </b>@Model.Entry.Date</div>
    <div><b>Title: </b>@Model.Entry.Title</div>
    <div><b>Passage: </b>@Model.Entry.Passage</div>
    
    <h3>COMMENTS</h3>
     <table style="width:500px">
         @foreach(var comment in @Model.ExistingComments)
         {
             <tr>
                 <td>@comment.Comment</td>
                 <td>Date: @comment.DateOfComment</td>
                 <td>@Ajax.ActionLink("remove", "RemoveComment", "Comment", new { Id = comment.Id }, new AjaxOptions { HttpMethod = "Post" }, null)</td>
             </tr>
         }
     </table>

<h4>Add Comment?</h4>
@using (Html.BeginForm("AddComment", "Comment", FormMethod.Post))
{
   
    @Html.ValidationSummary(true)

    <div>@Html.ValidationMessageFor(x => x.Comment)</div>
    @Html.TextAreaFor(x => x.Comment)

    @Html.HiddenFor(x => x.EntryId)

    <p><button type="submit">Submit</button></p>
    
}
    <p>@Html.ActionLink("Back To Home", "Index", "Home")</p>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jqueryval")
}
