
@model BlogApp.Models.DisplayEntryViewModel
<h1>This is a blog</h1>
<p>@Html.ActionLink("Add Entry", "AddEntry","Entry")</p>

@{
    foreach(var entries in Model.Entries)
    {
        <fieldset>
        <div><b>Date: </b>@entries.Date</div>
        <div><b>Title: </b>@entries.Title</div>
        <div><b>Passage: </b>@entries.Passage</div>
        @Html.ActionLink("edit", "EditEntry", "Entry", new { Id = entries.Id }, null)
        @Ajax.ActionLink("remove", "RemoveEntry", "Entry", new { Id = entries.Id }, new AjaxOptions { HttpMethod = "Post" }, null)
        @Html.ActionLink("comments", "Index", "Comment", new { Id = entries.Id }, null)
        
        </fieldset>
    }
}

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
